button {
    margin-top: 10px;
    margin-left: 20px;
    background-color: #28a745;
    color: white;
}

mat-form-field {
    margin: 20px;
}

.wrongData, .rightData {
    color: red;
    margin-left: 20px;
    font-size: 12px;
}

.rightData {
    color: green;
}