.all {
  width: 70%;
  margin: auto;
}

table {
  width: 100%;
}

td {
  padding: 0 !important;
  width: 25%;
}

h1{
  text-align: center;
}

.mat-form-field-underline {
  display: none;
}

mat-form-field-infix {
  border: 0 !important;
}

i {
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}

.dropdown {
  padding: 0 !important;
  width: 20px !important;
}

.additionalFunctionality {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  /* margin-bottom: 5px; */
}

.filter{
  /* height: 45px !important; */
}

.filterBy {
  display: flex;
  justify-content: flex-start;
}

.addButtons {
  float: right;
}

.addButton {
  margin-left: 5px;
  margin-right: 5px;
  background-color: lightseagreen;
  color: white;
}

.filters {
  margin-left: 10px;
}

::ng-deep .mat-input-underline {
  display: none;
}

.dropdownFilters {
  font-size: 39px;
  border-bottom: 1px solid #949494;
}