<h1 class="todoTitle">
  Todos
</h1>
<div class="all">
  <div class="additionalFunctionality">
    <div class="filterGroup">
      <mat-form-field class="filter">
        <mat-label>
          Filter by: {{ filterString }}
        </mat-label>
        <input matInput (keyup)="applyFilter($event)">
      </mat-form-field>

      <span [matMenuTriggerFor]="filters" class="dropdownFilters">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
      <mat-menu #filters="matMenu">
        <button mat-menu-item *ngFor="let filter of columnsHeaders" (click)="chooseFilter(filter)">
          {{ filter }}
        </button>
      </mat-menu>
    </div>

    <div class="additionalButtons">
      <button mat-raised-button (click)="add()">
        Add todo
      </button>
      <button mat-raised-button (click)="addUser()">
        Add user
      </button>
      <button mat-raised-button (click)="openUsersList()">
        Users list
      </button>
      <button mat-raised-button (click)="deleteAll()" [disabled]="unpaginatedTodos.length == 0">
        Delete all
      </button>
    </div>
  </div>

  <table mat-table matSort [dataSource]="todos" class="">
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>

    <ng-container matColumnDef="actions" class="actionsColumn">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let todo">
        <span [matMenuTriggerFor]="menu">
          <i class="fa fa-angle-down fa-5x" aria-hidden="true"></i>
        </span>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="edit(todo)">
            Show/Edit
          </button>
          <button mat-menu-item (click)="delete(todo.id)">
            Delete
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <ng-container *ngFor="let record of columns.slice(1); let i = index" [matColumnDef]="record">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ columnsHeaders[i] }}
      </th>
      <td mat-cell *matCellDef="let todo" [class]="record == 'state' ? 'capitalize' : ''">
        {{ todo[record] }}
      </td>
    </ng-container>
  </table>
  <div *ngIf="unpaginatedTodos.length == 0" class="noTodos">
    <h1>No todos</h1>
  </div>
  <mat-paginator [pageSizeOptions]="rowsInOnePage" showFirstLastButtons></mat-paginator>
</div>
