.all {
  width: 100%;
  margin: auto;
}

table {
  width: 100%;
  background-color: transparent;
  border-bottom: none;
  box-shadow: 0px -5px 15px 3px rgba(0, 0, 0, 0.1);
  /* font-weight: bold; */
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

mat-paginator {
  background-color: transparent;
  font-weight: bold;
  color: rgb(0, 0, 70);
  box-shadow: 0px 7px 15px 3px rgba(0, 0, 0, 0.1);
}

.mat-select {
  color: rgb(0, 0, 70) !important;
}

.mat-form-field-ripple{
  display: none !important;
}

td {
  padding: 0 !important;
  width: 25%;
}

h1{
  text-align: center;
}

.additionalFunctionality {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

i {
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}

.additionalButtons {
  float: right;
}

.additionalButtons > button {
  margin-left: 5px;
  margin-right: 5px;
  background-color: lightseagreen;
  color: white;
  margin-top: 10px;
}

.filterGroup {
  margin-left: 10px;
}

.dropdownFilters {
  font-size: 39px;
  border-bottom: 1px solid #949494;
}

.cdk-column-actions {
  width: 5% !important;
}

.cdk-column-actions span {
  color: grey;
  padding: 5px 2px 2px 2px;
  margin-left: 20px;
  border-radius: 5px;
  transition: 0.5s;
}

.noTodos {
  margin: 0;
  width: 100%;
  text-align: center;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.05);
}
.noTodos > h1 {
  padding: 40px 0 40px 0;
  margin: 0;
}
button:disabled {
  background-color: rgba(0,0,0,.12) !important;
  color: rgba(0,0,0,.26) !important;
}