table {
  width: 100%;
}

th {
  text-align: center !important;
}

td {
  text-align: center !important;
  padding: 0 !important;
}

.edit, .delete, .disable {
  color: white;
  cursor: pointer;
}

.edit {
  background-color: #5bc0de;
}

.delete {
  background-color: #d9534f;
}

.disable {
  background-color: #747c7c;
}

.tableAndUsers {
  display: flex;
  justify-content: space-between;
}

input, mat-select {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

button {
  width: 80px;
}

mat-form-field-infix {
  border: 0 !important;
}

.buttonsAfterEdit {
    margin: 10px 10px 10px 0;
}

.users {
  width: 50%;
  margin-left: 15px;
}

.disableButton {
  background-color: #545b62;
  color: white;
}

.editButton {
  background-color: #117a8b;
  color: white;
}

.todoTitle {
  text-align:center;
}

.groupingDiv {
  width: 100%;
}

.users {
  width: 50%;
  margin-left: 15px;
}

mat-form-field {
  width: 100%;
}