table {
  width: 100%;
}

td {
  padding: 0 !important;
  width: 25%;
}

h1{
  text-align: center;
}

.mat-form-field-underline {
  display: none;
}

button {
  width: 80px;
}

mat-form-field-infix {
  border: 0 !important;
}

i {
  font-weight: bold;
  cursor: pointer;
  font-size: 25px;
}

.dropdown {
  padding: 0 !important;
  width: 20px !important;
}

.additionalFunctionality {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.filter{
  height: 45px !important;
}

.filterBy {
  display: flex;
  justify-content: flex-start;
}