<div class="tableAndUsers">
    <div style="width: 50%">
        <h1 style="text-align:center">Todos</h1>
        <table>
            <thead>
                <th></th>
                <th>Date</th>
                <th>Description</th>
                <th>Assigned to</th>
                <th colspan="3">Actions</th>
            </thead>
            <tbody>
                <tr *ngFor="let todo of todos; let i = index" 
                    [ngStyle]="todo.is_disabled ? disabledBgColor : transparentBgColor">
                    <td>{{ i + 1 }}</td>
                    <td><span *ngIf="enableEditingCondition(todo); else editDate">{{ todo.date }}</span></td>
                    <td><span *ngIf="enableEditingCondition(todo); else editDescription">{{ todo.description }}</span></td>
                    <td><span *ngIf="enableEditingCondition(todo); else editAssignTo">{{ todo.assigned_to }}</span></td>
                    <td class='edit' (click)="edit($event)" id="{{ todo.id }}|{{ i }}" >Edit</td>
                    <td class='delete' (click)="delete($event)" id="deleteId{{ todo.id }}">Delete</td>
                    <td class='disable' (click)="disable($event)" id="disableId{{ todo.id }}">{{ todo.is_disabled ? 'Enable' : 'Disable' }}</td>
                </tr>
            </tbody>
        </table>
        <button *ngIf="isEditButtonClicked" (click)="editData()">Edit</button>
        <button *ngIf="isEditButtonClicked" (click)="cancel()">Cancel</button>
    </div>
    <div style="width: 50%; margin-left: 15px">
        <users></users>
    </div>
</div>

<ng-template #editDate>
    <input #newDate type="text" value="{{ todos[editIndexId].date }}" (input)="createNewDate(newDate.value)">
</ng-template>

<ng-template #editDescription>
    <input #newDescription type="text" value="{{ todos[editIndexId].description }}" (input)="createNewDescription(newDescription.value)">
</ng-template>

<ng-template #editAssignTo>
    <select #newAssignation type="text" value="{{ todos[editIndexId].assigned_to }}" (change)="createNewAssignation(newAssignation.value)">
        <option *ngFor="let user of users">{{ user.name }}</option>
    </select>
</ng-template>